@tailwind base;
@tailwind components;
@tailwind utilities;

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 25%;
  min-width: 0;
}